@charset "utf-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@font-face {
    font-family: gillsansmt;
    src: url('../fonts/GillSansMT.eot');
    src: url('../fonts/GillSansMT.woff') format('woff');
}
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');



* { margin: 0; padding: 0; box-sizing: border-box; }
body {
    font-family: "Gowun Dodum", sans-serif;
    font-size: 15px; color: #333;
    background: #fff;
}
h2 { font-family: "Do Hyeon", sans-serif; }
h3 { font-family: gillsansmt; }
ul, ol { list-style: none; }
a, img, input, label, button, textarea, select, option {
    display: block;
    outline: 0;
}
a { color: #333; text-decoration: none; }



@media screen and (max-width: 1349px) {
    body { font-size: 14px; }
}